<html>
<head><title>RealTimeWeekly WebRTC Basics Series</title></head>
<body>
	
	<div id="videoArea">
		<video autoplay></video>
	</div>
	
	<script>
		var streamConstraints = {audio: true, video: true};
		var localVideo = document.querySelector("video");

        navigator.mediaDevices.getUserMedia(streamConstraints).then(function (stream) {
          localVideo.srcObject = stream; //shows stream to user
        }).catch(function (err) {
          console.log('An error ocurred when accessing media devices');
        });
	</script>
	
</body>
</html>


